<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title>Ing. Silva Resume</title>
</head>
<body>
	<header>
			<div class="contenedor">
				
			<nav class="menu">
				
					
				
				<a href="#Acerca">Acerca de</a>
				<a href="#Habilidades">Habilidades</a>
				<a href="#Educacion">Educacion</a>
				<a href="#Experiencia">Experiencia</a>
				<a href="#Contact">Contact Me</a>
				<a id="english" href="/">English</a>
			</nav>

			<div class="contenedor-texto">
				<div class="texto">
					<h1 class="nombre">J. Antonio Silva S.</h1>
					<h2 class="profesion">Ingeniero en Electronica y Comunicaciones </h2>
				</div>
			</div>
		</div>
	</header>

