<% include partials/header1%>
    

	<section class="main">
		<section class="acerca-de">
			<div class="contenedor">
				<div class="foto">
					<img src="img/photo.jpg" width="115" height="115" alt="Ing. Antonio Silva">
				</div>
				
				<div class="texto" id="Acerca">
					<h3 class="titulo">Acerca de:</h3>
					<p><span class="bold">PUNTOS DE RELEVANCIA EN MY CARRERA</span>
					Soy un ingeniero que concluyo sus estudios de manera simultanea que trabajaba como
					tenico, conocedor de las áreas de trabajo y del trato con la gente, desaiórrollandome
					en diferentes típos de industria tales como la inyección de plástico, metal mecánica
					automótriz, construcción etc.</p>
					<p>He participado con diferentes compañías en transferencias de equipos y aprendizaje
					de procesos para ser implementados en esas compañías ya en Nuevo León enseñando el uso
					de esos equipos a personal local.</p>
				</div>
				<div class="texto" id="Habilidades">
					<h3 class="titulo">Habilidades</h3>
					<span class="bold">COURSOS</span> 
						Basic Hydraulics (CONALEP)<br>
                    	PNEUMATIC BASICS (CONALEP)<br>
                    	PLC'S FUNDAMENTALS (ALLEN Bradley)<br>
                    	 PLC'S  APPLICATIONS  (UANL)<br>
                    	 AUTOCAD BASICS<br><br>
						<span class="bold">	MANEJO DE:</span><br><br>
					<p>	
						cardboard corrugating machines, abb robots, robots Mitsubishi, Chillers, presses 3000,<br>
						8000.5000 ton. Plastic injection molding, blow molding bottle, stamping machines, ovens,<br>
						palletizers, balers, conveyors, baggers, drives, PLCs Allen Bradley, food machinery area, etc.<br>
						
				</div>
				<div class="texto" id="Educacion">
					<h3 class="titulo">Educacion</h3>
					<span class="bold">PRIMARIA</span> Cuahtémoc <br><br>
					<span class="bold">SECUNDARIA</span>  Esc. Secundaria Federal Reforma <br><br>
					<span class="bold">	PREPARATORIA</span> 22 UANL<br><br>
					<span class="bold">	PROFESSIONAL:</span> FIME (UANL)<br><br>
				</div>
				<div class="texto" id="Experiencia">
					<h3 class="titulo">Experiencia</h3>
					<span class="bold">EMPRESA:</span> ITW SAFETY COMPONENTS MEXICO <br>
						<span class="bold">	PUESTO:</span>  responsable de turno del área  mantenimiento<br>
						<span class="bold">ACTIVIDADES  PRINCIPALES:</span><br><br>
					<p>	
						Mantenimiento correctivo ( de75 maquinas de inyección de plástico asi como sus equipos perifericos )<br>
                        Mantenimiento preventivo a dicho equipo<br>
                        Responsable de la recopilación, almacenaje y confinamiento de los residuos peligrosos generados por todos los departamentos de la planta.<br>
                        Encargado del óptimo funcionamiento del equipo eléctrico, electrónico, drives, relevación, etc.…<br>
                        Responsable del buen estado y ubicación de los equipos contra incendios.<br>
                        Encargado de la implementación e instalación de proyectos en su parte eléctrica y mecánica.<br>
<br>
						
					</p>
					<span class="bold">EMPRESA:</span>  Soluciones en ingeniería de planta Lemus <br>
						<span class="bold">	PUESTO:</span>  ingeniero residente<br>
						<span class="bold">	ACTIVIDADES  PRINCIPALES:</span><br><br>
					<p>	
						•Se hace levantamiento de los trabajos y materiales a necesitar para cotización de posibles contratos<br>
                        Ya en obra soy el responsable de negociar con el cliente las estimaciones para facturación.<br>
                         Planeación y verificación que la obra se lleve conforme a lo planeado en forma y tiempo.<br>
                        Responsable de los reportes de avance diario y semanal así como de la asistencia del personal.<br>
                        Encargado del control de almacén y de herramientas<br>

					</p>
					<span class="bold">EMPRESA:</span>  Santrol de México  <br>
						<span class="bold">	PUESTO:</span>    supervisor de mantenimiento<br>
						<span class="bold">	ACTIVIDADES  PRINCIPALES:</span><br><br>
					<p>	
						Mantenimiento correctivo ( de maquinaria y equipo de manufactura de arena silica)<br>
                        Mantenimiento preventivo a dicho equipo<br>
                        Automatización del sistema de alimentador de arena a silos.<br>
                        Encargado de la reparación, calibración y mantenimiento de actuadores electrónicos, calentadores, molinos, bandas  transportadores, utilizando como base la lectura de planos eléctricos, hidráulicos y mecánicos <br>
                        Encargado del óptimo funcionamiento del equipo eléctrico, electrónico, drives, relevación, etc.…<br>
                        Participar en el equipo de desarrollo sustentable área best practice (mejores prácticas) para desarrollar mejores técnicas y mejorando los equipos para disminuir el esfuerzo físico así como la seguridad del personal<br>
                        Encargado de la implementación e instalación de proyectos en su parte eléctrica y mecánica supervisando a personal técnico, paileros y ayudantes.<br>
                        Encargado de control de almacén así como de inventario.<br>

					</p>
					<span class="bold">EMPRESA:</span>  Hershey´s <br>
						<span class="bold">	PUESTO:</span>    Técnico de Mantenimiento (líder)<br>
						<span class="bold">	ACTIVIDADES  PRINCIPALES:</span><br><br>
					<p>	
						Entrenamiento a personal  Técnico y traducción inglés-español de personal norteamericano a técnicos mexicanos<br>
                        Mantenimiento correctivo ( Troubleshooting de líneas de empaque) <br>
                        Mantenimiento preventivo<br>


					</p>
					
					
				</div>
				<div class="texto" id="Contact">
					<h3 class="titulo">Contactame :</h3>
					<p>
						<span class="bold">DIRECCION:</span>
						Sierra Tarahumara 1316 terranova residencial Benito Juarez Nuevo Leon<br>
						<span class="bold">Numeros Telefonicos</span><br>
						 (81) 25273536 (casa)<br>
						 (8,184,654,243 (cell)<br>
						 (81) 81419318 (mensaje)<br>
						 <span class="bold">Email:</span>
						 jasilvas1969@gmail.com<br>
					</p>
				</div>
			</div>
		

<% include partials/footer1%>